:root {
    --color-font-white: #fff;
    --color-font-title: #642a73;
    --bg-light-gay-color: #f2f2f2;

}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Open Sans', sans-serif;;
    font-size: 1.6rem;
}
/*init estilos*/

/*header*/
.header {
    width: 100%;
    height: 70vh;
    color: var(--color-font-white);
    background-image: linear-gradient( 90deg, hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664)), url('/source/portada.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*header nav*/
.header a {
    text-decoration: none;
    color: var(--color-font-white);
}

.header__nav {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    padding-right: 5rem;
    padding-top: 2rem;
}

.header__nav > * {
    font-weight: 100;
    text-transform: capitalize;
    padding: 1ch;
}

.header__nav a:hover {
    text-decoration: underline;
}

/*header conteiner*/
.header__conteiner-title {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header__title {
    font-size: 5rem;
}

.header__subtitle {
    font-size: 3rem;
    font-weight: 200;
}

.header__title::first-letter,
.header__subtitle::first-letter {
    text-transform: uppercase;
}

/*seccion productos*/
.products {
    width: 100%;
    height: 80vh;
    background-color: var(--color-font-white);
    text-align: center;
    padding: 3rem;
}

.products__conteiner-title {
    width: 100%;
}

.products__title {
    font-size: 3rem;
    text-transform: capitalize;
    color: var(--color-font-title);
}

.products__conteiner {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.products__conteiner-ilustration {
    width: 50%;
    display: flex;
    align-items: center;
}

.products__ilustration {
    max-width: 100%;
    object-fit: cover;
}

.products__conteiner-cards {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: left;
}

.card__products-title {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.card__number {
    background-color: var(--color-font-title);
    border-radius: 50%;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    color: var(--color-font-white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    box-shadow: 0 0 0.5rem var(--color-font-title);
}

.card__products-text {
    padding-left: 2rem;
    font-weight: 300;
    text-align: justify;
}

/*seccion portafolio*/

.portafolio {
    background-color: var(--bg-light-gay-color);
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.portafolio__conteiner-title {
    width: 100%;
    text-align: center;
}

.portafolio__title {
    font-size: 3rem;
    color: var(--color-font-title);
}

.portafolio__grid-images {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: repeat(2, 40%);
    place-content: center;
    gap: 1rem;
}

.portafolio__conteiner-images {
    position: relative;
    box-shadow: 0 0 0.5rem #000;
    border-radius: 0.4rem;
    overflow: hidden;
}

.portafolio__images {
    aspect-ratio: 19/12;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.portafolio__images-hover {
    background-color: #642a736c;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.portafolio__conteiner-images:hover > .portafolio__images-hover {
    transition-property: scale;
    transition: 0.4s;
    transform: scale(1);
}

/* seccion opiniones */
.opiniones {
    width: 100%;
    height: 70vh;
}

.opiniones__conteiner-title {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opiniones__title {
    text-align: center;
    font-size: 3rem;
    color: var(--color-font-title);
}



.opiniones__conteiner-cards {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}
.opiniones__card {
    width: 45rem;
    height: 20rem;
    background-color: var(--color-font-title);
    border-radius: 0.4rem;
    box-shadow: 0 0 0.6rem #000;
    aspect-ratio: 19/12;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    color: var(--color-font-white);
}

.card__conteiner-opiniones-image {
    width: 12rem;
    height: 12rem;
    flex-shrink: 0;
}

.card__opiniones-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.card__conteiner-opiniones {
    width: 70%;
}

.card__services-text,
.card__opiniones-text {
    overflow: hidden;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}

/* seccion servicios */

.services {
    width: 100%;
    height: 70vh;
    background-color: var(--bg-light-gay-color);
}

.services__conteiner-title {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services__title {
    color: var(--color-font-title);
    font-size: 3rem;
}

.services__conteiner-cards {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.services__card {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card__services-image {
    width: 100%;
    height: 50%;
    object-fit: contain;
    aspect-ratio: 19/12;
    margin-bottom: 2rem;
}

.card__services-tile {
    text-align: center;
}

.card__services-text {
    text-align: justify;
}

.card__services-image {
    filter: drop-shadow(0 0 0.1rem #000);
}